.extra-products__title {
  @include font(24px, 24px);
  padding-bottom: 20px;
  border-bottom: 1px solid $dark-gray-1;
}

.extra-products__list {
  @include mp-zero;
  list-style: none;
}

.extra-products__item {
  padding-bottom: 20px;
  border-bottom: 1px solid $dark-gray-1;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
    gap: 60px;
  }
}

.extra-products__product-title {
  @include font(16px, 16px);
  color: $dark-gray-3;
  text-transform: uppercase;
}

.extra-products__weight,
.extra-products__cost {
  @include font(14px, 14px);
  font-family: $ff-arial;
  color: $dark-gray-3;
}
