.form {
  @include font(16px, 18px);
  padding-bottom: 30px;
  color: $black-gray;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font(20px, 30px);
  }
}

.form__grid-wrapper-top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.form label {
  margin-right: 13px;
}

.form input[placeholder],
.form textarea[placeholder] {
  text-transform: uppercase;
}

.form__text {
  @include mp-zero;
  width: 100%;
}

.form__input-wrapper {
  margin-top: 0;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.form__wrapper {
  margin-bottom: 10px;
}

.form__program-list,
.form__contacts-list,
.form__extra-list {
  @include mp-zero;
  list-style: none;
}

.form__program-item:not(:last-child),
.form__contacts-item:not(:last-child),
.form__extra-item:not(:last-child) {
  margin-bottom: 10px;
}

.form__legend-title {
  @include font(24px, 26px);
  margin-bottom: 35px;
  text-transform: none;
  color: $black;

  @media (min-width: $tablet-width) {
    @include font(36px);
  }
}

.form__contacts .form__grid-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.form__extra .form__grid-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px;
    gap: 20px;
  }
}

.form__grid-wrapper-bottom {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

.form__small-text {
  @include font(14px, 16px);
  font-family: $ff-arial;
  text-transform: none;
}
