.green-button {
  @include bg-color($green);
  @include font(16px, 20px);

  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    @include font(20px);

    padding: 18px 27px;
    width: auto;
  }

  &:hover {
    @include bg-color($green-2);
  }

  &:active {
    color: $white-30;
  }

  &--gray {
    @include bg-color($gray-1);

    color: $dark-gray-3;
  }
}
