.green-button {
  @include bg-color($green);
  @include font(16px, 20px);
  display: inline-block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  outline: none;
  border: none;

  &--gray {
    @include bg-color($gray);
    color: $black-gray;
  }
}
