.green-button {
  @include bg-color($green);
  @include font(14px, 20px);

  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  outline: none;
  border: none;

  &:hover {
    @include bg-color($green-2);
  }

  &:active {
    color: $white-30;
  }

  &--gray {
    @include bg-color($gray-1);

    color: $dark-gray-3;
  }
}
