.header {
  position: relative;
}

.header__wrapper {
  @media (max-width: $mobile-only) {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid $basic-gray;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  &--no-border {
    border: none;
  }
}

.header__wrapper .container {
  @media (max-width: $mobile-only) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-right: 52px;
  }
}

.header__wrapper-top {
  @include bg-color($white);

  min-height: 65px;

  @media (min-width: $tablet-width) {
    @include bg-color(transparent);
    width: 150px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.header__wrapper-top .container {
  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header__logo {
  @media (min-width: $tablet-width) {
    width: 172px;
  }

  @media (min-width: $desktop-width) {
    width: 215px;
  }
}

.header__bg {
  position: absolute;
  z-index: -10;
  top: 65px;
  left: 0;
  height: 302px;
  width: 100%;
  background-image: url("../img/bg/cat-green-mobile.jpg");
  background-position: 64% top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/cat-green-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    z-index: -20;
    width: 50%;
    height: 694px;
    top: 0;
    left: 50%;
    background-image: url("../img/bg/cat-green-desktop.jpg");
    background-position: 0 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/cat-green-desktop@2x.jpg");
  }
}
