.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--footer {
    margin-top: 40px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      width: 213px;
    }
  }

  &--academy {
    justify-content: space-between;
    width: 100%;
    fill: $dark-gray-1;

    @media (min-width: $tablet-width) {
      max-width: 164px;
    }
  }

  &--academy:hover .logo__img-svg {
    fill: $green;
  }
}
