.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--footer {
    margin-top: 19px;
    justify-content: center;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      width: 213px;
    }
  }

  &--academy {
    justify-content: space-between;
    width: 100%;
    fill: $dark-gray-1;

    @media (min-width: $tablet-width) {
      max-width: 164px;
    }
  }

  &--academy:hover .logo__img-svg {
    fill: $green;
  }
}

.logo__img--icon {
  @media (min-width: $tablet-width) {
    width: 61px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 69px;
    margin-right: 0;
  }
}

.logo__img--text {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $desktop-width) {
    width: 122px;
    margin-right: 10px;
  }
}
