.main-section {
  @media (min-width: $tablet-width) {
    height: 850px;
    padding-left: 90px;
    margin-bottom: 9px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 56px;
    height: 600px;
  }
}

.main-section__wrapper-top {
  min-height: 302px;
  margin-bottom: 138px;

  @media (min-width: $tablet-width) {
    min-height: 220px;
    margin-bottom: 0;
    background: none;
  }
}

.main-section__wrapper-top,
.main-section__wrapper-bottom {
  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-section__title {
  padding-top: 27px;
  margin-bottom: 24px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-bottom: 40px;
    width: 420px;
    text-align: left;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding-top: 103px;
    margin-left: -2px;
  }
}

.main-section__subtitle {
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin-bottom: 48px;
    text-align: left;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.main-section__wrapper-bottom {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 400px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
    margin-bottom: 10px;
  }
}

.main-section__img {
  position: absolute;
  bottom: 70px;
  width: 275px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 50%;
    z-index: -10;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    bottom: 80px;
    left: 57%;
    width: 550px;
  }
}
