.main-catalog {
  overflow: hidden;
}

.main-catalog__grid-wrapper {
  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.main-catalog__grid-wrapper-container {
  padding-left: 0;
  padding-right: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}
