.main-section {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 850px;
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 600px;
  }
}

.main-section__bg {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    height: 700px;
    position: absolute;
    z-index: -15;
    top: -100px;
    right: -250px;
  }
}

.main-section__wrapper-top {
  @include bg-color($green);
  height: 302px;
  background: url("../img/cat-green.jpg") center no-repeat;
  margin-bottom: 140px;

  @media (min-width: $tablet-width) {
    height: 220px;
    margin-bottom: 0px;
    background: none;
  }
}

.main-section .main-title {
  color: $white;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    @include font(60px);
    width: 420px;
    color: $black;
  }
}

.main-section .main-subtitle {
  color: $white;

  @media (min-width: $tablet-width) {
    @include font(20px);
    color: $black;
  }
}

.main-section__wrapper-bottom {
  position: relative;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 600px;
  }
}

.main-section__img {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: 20px;
    z-index: -10;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    top: -130px;
    left: 620px;
    width: 550px;
  }
}

.main-section__button {
  @media (min-width: $tablet-width) {
    width: auto;
    padding: 10px 10px;
    @include font(20px);
  }
}
