.navigation {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__list {
  @include mp-zero;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

.navigation__item {
  @media (min-width: $tablet-width) {
    margin-left: 10px;
  }
}

.navigation__burger {
  display: none;
}
