.green-button {
  @include bg-color($green);
  display: inline-block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  outline: none;
  border: none;

  &--gray {
    @include bg-color($gray);
    color: $black-gray;
  }
}
