.lose-gain-weight__list {
  @include bg-color($gray);
  @include mp-zero;
  padding: 30px 33px 18px 20px;
  list-style: none;
}

.lose-gain-weight__title {
  @include mp-zero;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.lose-gain-weight__desc {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $black-gray;
}
